interactions:
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj</wsa:Action><wsa:MessageID>urn:uuid:8c39a91e-5584-4de3-936b-bc95d0c4f683</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DaneSzukaj
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pParametryWyszukiwania><ns1:Regon
      xmlns:ns1="http://CIS/BIR/PUBL/2014/07/DataContract">01034470800689</ns1:Regon></ns0:pParametryWyszukiwania></ns0:DaneSzukaj></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: ['application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj"']
      SOAPAction: ['"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj"']
      sid: [399yusf5b57evtu6yv7z]
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body: {string: "\r\n--uuid:53f3eb90-4a3c-4368-8cc6-cd65d1f84871+id=1488\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n<s:Envelope
        xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"http://www.w3.org/2005/08/addressing\"><s:Header><a:Action
        s:mustUnderstand=\"1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajResponse</a:Action><a:RelatesTo>urn:uuid:8c39a91e-5584-4de3-936b-bc95d0c4f683</a:RelatesTo></s:Header><s:Body><DaneSzukajResponse
        xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DaneSzukajResult>&lt;root&gt;&#xD;\n
        \ &lt;dane&gt;&#xD;\n    &lt;Regon&gt;01034470800689&lt;/Regon&gt;&#xD;\n
        \   &lt;RegonLink&gt;&amp;lt;a href='javascript:danePobierzPelnyRaport(\"01034470800689\",\"DaneRaportLokalnaPrawnejPubl\",
        0);'&amp;gt;01034470800689&amp;lt;/a&amp;gt;&lt;/RegonLink&gt;&#xD;\n    &lt;Nazwa&gt;AGENCJA
        NIERUCHOMO\u015ACI ROLNYCH ODDZIA\u0141 TERENOWY W RZESZOWIE&lt;/Nazwa&gt;&#xD;\n
        \   &lt;Wojewodztwo&gt;PODKARPACKIE&lt;/Wojewodztwo&gt;&#xD;\n    &lt;Powiat&gt;m.
        Rzesz\xF3w&lt;/Powiat&gt;&#xD;\n    &lt;Gmina&gt;M. Rzesz\xF3w&lt;/Gmina&gt;&#xD;\n
        \   &lt;Miejscowosc&gt;Rzesz\xF3w&lt;/Miejscowosc&gt;&#xD;\n    &lt;KodPocztowy&gt;35-001&lt;/KodPocztowy&gt;&#xD;\n
        \   &lt;Ulica&gt;ul. Test-Wilcza&lt;/Ulica&gt;&#xD;\n    &lt;Typ&gt;LP&lt;/Typ&gt;&#xD;\n
        \   &lt;SilosID&gt;6&lt;/SilosID&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n&lt;/root&gt;</DaneSzukajResult></DaneSzukajResponse></s:Body></s:Envelope>\r\n--uuid:53f3eb90-4a3c-4368-8cc6-cd65d1f84871+id=1488--\r\n"}
    headers:
      content-type: ['multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:53f3eb90-4a3c-4368-8cc6-cd65d1f84871+id=1488";start-info="application/soap+xml"']
      mime-version: ['1.0']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport</wsa:Action><wsa:MessageID>urn:uuid:05e60f94-c7b7-4496-a56a-0572dcb9092e</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DanePobierzPelnyRaport
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pRegon>01034470800689</ns0:pRegon><ns0:pNazwaRaportu>PublDaneRaportDzialalnosciPrawnej</ns0:pNazwaRaportu></ns0:DanePobierzPelnyRaport></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: ['application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"']
      SOAPAction: ['"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"']
      sid: [399yusf5b57evtu6yv7z]
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body: {string: "\r\n--uuid:53f3eb90-4a3c-4368-8cc6-cd65d1f84871+id=1489\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n<s:Envelope
        xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"http://www.w3.org/2005/08/addressing\"><s:Header><a:Action
        s:mustUnderstand=\"1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaportResponse</a:Action><a:RelatesTo>urn:uuid:05e60f94-c7b7-4496-a56a-0572dcb9092e</a:RelatesTo></s:Header><s:Body><DanePobierzPelnyRaportResponse
        xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DanePobierzPelnyRaportResult>&lt;root&gt;&#xD;\n
        \ &lt;dane&gt;&#xD;\n    &lt;praw_pkdKod&gt;6831Z&lt;/praw_pkdKod&gt;&#xD;\n
        \   &lt;praw_pkdNazwa&gt;PO\u015AREDNICTWO W OBROCIE NIERUCHOMO\u015ACIAMI&lt;/praw_pkdNazwa&gt;&#xD;\n
        \   &lt;praw_pkdPrzewazajace&gt;1&lt;/praw_pkdPrzewazajace&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n&lt;/root&gt;</DanePobierzPelnyRaportResult></DanePobierzPelnyRaportResponse></s:Body></s:Envelope>\r\n--uuid:53f3eb90-4a3c-4368-8cc6-cd65d1f84871+id=1489--\r\n"}
    headers:
      content-type: ['multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:53f3eb90-4a3c-4368-8cc6-cd65d1f84871+id=1489";start-info="application/soap+xml"']
      mime-version: ['1.0']
    status: {code: 200, message: OK}
version: 1
