interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl.xsd
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \r\n
        \ <wsdl:definitions name=\"UslugaBIRzewnPubl\" targetNamespace=\"http://tempuri.org/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:wsa10=\"http://www.w3.org/2005/08/addressing\"
        xmlns:wsx=\"http://schemas.xmlsoap.org/ws/2004/09/mex\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" xmlns:wsap=\"http://schemas.xmlsoap.org/ws/2004/08/addressing/policy\"
        xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\" xmlns:wsa=\"http://schemas.xmlsoap.org/ws/2004/08/addressing\"
        xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\" xmlns:wsaw=\"http://www.w3.org/2006/05/addressing/wsdl\"
        xmlns:tns=\"http://tempuri.org/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:i0=\"http://CIS/BIR/PUBL/2014/07\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">\r\n  <wsp:Policy
        wsu:Id=\"e3_policy\">\r\n  <wsp:ExactlyOne>\r\n  <wsp:All>\r\n  <sp:TransportBinding
        xmlns:sp=\"http://schemas.xmlsoap.org/ws/2005/07/securitypolicy\">\r\n  <wsp:Policy>\r\n
        \ <sp:TransportToken>\r\n  <wsp:Policy>\r\n  <sp:HttpsToken RequireClientCertificate=\"false\"
        /> \r\n  </wsp:Policy>\r\n  </sp:TransportToken>\r\n  <sp:AlgorithmSuite>\r\n
        \ <wsp:Policy>\r\n  <sp:Basic256 />  \r\n  </wsp:Policy>\r\n  </sp:AlgorithmSuite>\r\n
        \ <sp:Layout>\r\n  <wsp:Policy>\r\n  <sp:Strict /> \r\n  </wsp:Policy>\r\n
        \ </sp:Layout>\r\n  </wsp:Policy>\r\n  </sp:TransportBinding>\r\n  <wsaw:UsingAddressing
        /> \r\n  </wsp:All>\r\n  </wsp:ExactlyOne>\r\n  </wsp:Policy>\r\n  \r\n  <wsdl:import
        namespace=\"http://CIS/BIR/PUBL/2014/07\" location=\"https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_wsdl0.xsd\"
        /> \r\n  <wsdl:types /> \r\n  <wsdl:binding name=\"e3\" type=\"i0:IUslugaBIRzewnPubl\">\r\n
        \ <wsp:PolicyReference URI=\"#e3_policy\" /> \r\n  <soap12:binding transport=\"http://schemas.xmlsoap.org/soap/http\"
        /> \r\n  \r\n  <wsdl:operation name=\"PobierzCaptcha\">\r\n  <soap12:operation
        soapAction=\"http://CIS/BIR/2014/07/IUslugaBIR/PobierzCaptcha\" style=\"document\"
        /> \r\n  <wsdl:input>\r\n  <soap12:body use=\"literal\" /> \r\n  </wsdl:input>\r\n
        \ <wsdl:output>\r\n  <soap12:body use=\"literal\" /> \r\n  </wsdl:output>\r\n
        \ </wsdl:operation>\r\n  <wsdl:operation name=\"SprawdzCaptcha\">\r\n  <soap12:operation
        soapAction=\"http://CIS/BIR/2014/07/IUslugaBIR/SprawdzCaptcha\" style=\"document\"
        /> \r\n  <wsdl:input>\r\n  <soap12:body use=\"literal\" /> \r\n  </wsdl:input>\r\n
        \ <wsdl:output>\r\n  <soap12:body use=\"literal\" /> \r\n  </wsdl:output>\r\n
        \ </wsdl:operation>\r\n  \r\n  <wsdl:operation name=\"GetValue\">\r\n  <soap12:operation
        soapAction=\"http://CIS/BIR/2014/07/IUslugaBIR/GetValue\" style=\"document\"
        /> \r\n  <wsdl:input>\r\n  <soap12:body use=\"literal\" /> \r\n  </wsdl:input>\r\n
        \ <wsdl:output>\r\n  <soap12:body use=\"literal\" /> \r\n  </wsdl:output>\r\n
        \ </wsdl:operation>\r\n  \r\n  <wsdl:operation name=\"SetValue\">\r\n  <soap12:operation
        soapAction=\"http://CIS/BIR/2014/07/IUslugaBIR/SetValue\" style=\"document\"
        /> \r\n  <wsdl:input>\r\n  <soap12:body use=\"literal\" /> \r\n  </wsdl:input>\r\n
        \ <wsdl:output>\r\n  <soap12:body use=\"literal\" /> \r\n  </wsdl:output>\r\n
        \ </wsdl:operation>\r\n  \r\n  \r\n  <wsdl:operation name=\"Zaloguj\">\r\n
        \ <soap12:operation soapAction=\"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj\"
        style=\"document\" /> \r\n  <wsdl:input>\r\n  <soap12:body use=\"literal\"
        /> \r\n  </wsdl:input>\r\n  <wsdl:output>\r\n  <soap12:body use=\"literal\"
        /> \r\n  </wsdl:output>\r\n  </wsdl:operation>\r\n  <wsdl:operation name=\"Wyloguj\">\r\n
        \ <soap12:operation soapAction=\"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Wyloguj\"
        style=\"document\" /> \r\n  <wsdl:input>\r\n  <soap12:body [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_wsdl0.xsd
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \r\n
        \ <wsdl:definitions targetNamespace=\"http://CIS/BIR/PUBL/2014/07\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:wsa10=\"http://www.w3.org/2005/08/addressing\" xmlns:wsx=\"http://schemas.xmlsoap.org/ws/2004/09/mex\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" xmlns:wsap=\"http://schemas.xmlsoap.org/ws/2004/08/addressing/policy\"
        xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\" xmlns:wsa=\"http://schemas.xmlsoap.org/ws/2004/08/addressing\"
        xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\" xmlns:wsaw=\"http://www.w3.org/2006/05/addressing/wsdl\"
        xmlns:tns=\"http://CIS/BIR/PUBL/2014/07\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">\r\n
        \ <wsdl:types>\r\n  <xsd:schema targetNamespace=\"http://CIS/BIR/PUBL/2014/07/Imports\">\r\n
        \ <xsd:import schemaLocation=\"https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_xsd0.xsd\"
        namespace=\"http://CIS/BIR/2014/07\" /> \r\n  <xsd:import schemaLocation=\"https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_xsd1.xsd\"
        namespace=\"http://schemas.microsoft.com/2003/10/Serialization/\" /> \r\n
        \ <xsd:import schemaLocation=\"https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_xsd2.xsd\"
        namespace=\"http://CIS/BIR/PUBL/2014/07\" /> \r\n  <xsd:import schemaLocation=\"https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_xsd3.xsd\"
        namespace=\"http://CIS/BIR/PUBL/2014/07/DataContract\" /> \r\n  </xsd:schema>\r\n
        \ </wsdl:types>\r\n  <wsdl:message name=\"IUslugaBIRzewnPubl_PobierzCaptcha_InputMessage\">
        \r\n  <wsdl:part name=\"parameters\" element=\"q1:PobierzCaptcha\" xmlns:q1=\"http://CIS/BIR/2014/07\"
        /> \r\n  </wsdl:message>\r\n  <wsdl:message name=\"IUslugaBIRzewnPubl_PobierzCaptcha_OutputMessage\">\r\n
        \ <wsdl:part name=\"parameters\" element=\"q2:PobierzCaptchaResponse\" xmlns:q2=\"http://CIS/BIR/2014/07\"
        /> \r\n  </wsdl:message>\r\n  <wsdl:message name=\"IUslugaBIRzewnPubl_SprawdzCaptcha_InputMessage\">\r\n
        \ <wsdl:part name=\"parameters\" element=\"q3:SprawdzCaptcha\" x[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_xsd0.xsd
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \r\n
        \ <xs:schema elementFormDefault=\"qualified\" targetNamespace=\"http://CIS/BIR/2014/07\"
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:tns=\"http://CIS/BIR/2014/07\">\r\n
        \ <xs:element name=\"PobierzCaptcha\">\r\n  <xs:complexType>\r\n  <xs:sequence
        /> \r\n  </xs:complexType>\r\n  </xs:element>\r\n  <xs:element name=\"PobierzCaptchaResponse\">\r\n
        \ <xs:complexType>\r\n  <xs:sequence>\r\n  <xs:element minOccurs=\"0\" name=\"PobierzCaptchaResult\"
        nillable=\"true\" type=\"xs:string\" /> \r\n  </xs:sequence>\r\n  </xs:complexType>\r\n
        \ </xs:element>\r\n  <xs:element name=\"SprawdzCaptcha\">\r\n  <xs:complexType>\r\n
        \ <xs:sequence>\r\n  <xs:element minOccurs=\"0\" name=\"pCaptcha\" nillable=\"true\"
        type=\"xs:string\" /> \r\n  </xs:sequence>\r\n  </xs:complexType>\r\n  </xs:element>\r\n
        \ <xs:element name=\"SprawdzCaptchaResponse\">\r\n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_xsd2.xsd
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \r\n
        \ <xs:schema elementFormDefault=\"qualified\" targetNamespace=\"http://CIS/BIR/PUBL/2014/07\"
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:tns=\"http://CIS/BIR/PUBL/2014/07\">\r\n
        \ <xs:import schemaLocation=\"https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_xsd3.xsd\"
        namespace=\"http://CIS/BIR/PUBL/2014/07/DataContract\" /> \r\n  <xs:element
        name=\"Zaloguj\">\r\n  <xs:complexType>\r\n  <xs:sequence>\r\n  <xs:element
        minOccurs=\"0\" name=\"pKluczUzytkownika\" nillable=\"true\" type=\"xs:string\"
        /> \r\n  </xs:sequence>\r\n  </xs:complexType>\r\n  </xs:element>\r\n  <xs:element
        name=\"ZalogujResponse\">\r\n  <xs:complexType[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_xsd3.xsd
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \r\n
        \ <xs:schema elementFormDefault=\"qualified\" targetNamespace=\"http://CIS/BIR/PUBL/2014/07/DataContract\"
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:tns=\"http://CIS/BIR/PUBL/2014/07/DataContract\">\r\n
        \ <xs:complexType name=\"ParametryWyszukiwania\">\r\n  <xs:sequence>\r\n  <xs:element
        minOccurs=\"0\" name=\"Krs\" nillable=\"true\" type=\"xs:string\" /> \r\n
        \ <xs:element minOccurs=\"0\" name=\"Krsy\" nillable=\"true\" type=\"xs:string\"
        /> \r\n  <xs:element minOccurs=\"0\" name=\"Nip\" nillable=\"true\" type=\"xs:string\"
        /> \r\n  <xs:element minOccurs=\"0\" name=\"Nipy\" nillable=\"true\" type=\"xs:string\"
        /> \r\n  <xs:element minOccurs=\"0\" name=\"Regon\" nillable=\"true\" type=\"xs:string\"
        /> \r\n  <xs:element minOccurs=\"0\" name=\"Regony14zn\" nillable=\"true\"
        type=\"xs:string\" /> \r\n  <xs:element minOccurs=\"0\" name=\"Regony9zn\"
        nillable=\"true\" type=\"xs:string\" /> \r\n  </xs:sequence>\r\n  </xs:complexType>\r\n
        \ \r\n  </xs:schema>"}
    headers:
      content-type: [text/xml]
      etag: ['"64a5d713a2fd01:0"']
      last-modified: ['Tue, 13 Jan 2015 08:22:32 GMT']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing"
      xmlns:ns1="http://www.w3.org/2003/05/soap-envelope" xmlns:ns0="http://CIS/BIR/PUBL/2014/07"
      xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"><SOAP-ENV:Header><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj</wsa:Action></SOAP-ENV:Header><ns1:Body><ns0:Zaloguj><ns0:pKluczUzytkownika>abcde12345abcde12345</ns0:pKluczUzytkownika></ns0:Zaloguj></ns1:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [application/soap+xml; charset=utf-8]
      Soapaction: ['"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"']
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body: {string: !!python/unicode "\r\n--uuid:66ac9201-4182-497f-b6a1-37ea3398d21a+id=4562\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n<s:Envelope
        xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"http://www.w3.org/2005/08/addressing\"><s:Header><a:Action
        s:mustUnderstand=\"1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/ZalogujResponse</a:Action></s:Header><s:Body><ZalogujResponse
        xmlns=\"http://CIS/BIR/PUBL/2014/07\"><ZalogujResult>bzfcw9r4595x2gx8t86x</ZalogujResult></ZalogujResponse></s:Body></s:Envelope>\r\n--uuid:66ac9201-4182-497f-b6a1-37ea3398d21a+id=4562--\r\n"}
    headers:
      content-type: ['multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:66ac9201-4182-497f-b6a1-37ea3398d21a+id=4562";start-info="application/soap+xml"']
      mime-version: ['1.0']
    status: {code: 200, message: OK}
version: 1
