interactions:
- request:
    body: !!python/unicode <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope
      xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope" xmlns:wsa="http://www.w3.org/2005/08/addressing"
      xmlns:ns2="http://www.w3.org/2003/05/soap-envelope" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07" xmlns:ns1="http://CIS/BIR/PUBL/2014/07/DataContract"><SOAP-ENV:Header><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj</wsa:Action></SOAP-ENV:Header><ns2:Body><ns0:DaneSzukaj><ns0:pParametryWyszukiwania><ns1:Nip>5170359458</ns1:Nip></ns0:pParametryWyszukiwania></ns0:DaneSzukaj></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [application/soap+xml; charset=utf-8]
      Sid:
      - !!python/object/new:suds.sax.text.Text
        args: [!!python/unicode dpw24597775798kebm8t]
        state: {escaped: false, lang: null}
      Soapaction: ['"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj"']
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body: {string: "\r\n--uuid:66ac9201-4182-497f-b6a1-37ea3398d21a+id=4572\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n<s:Envelope
        xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"http://www.w3.org/2005/08/addressing\"><s:Header><a:Action
        s:mustUnderstand=\"1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajResponse</a:Action></s:Header><s:Body><DaneSzukajResponse
        xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DaneSzukajResult>&lt;root&gt;&#xD;\n
        \ &lt;dane&gt;&#xD;\n    &lt;Regon&gt;18085317700000&lt;/Regon&gt;&#xD;\n
        \   &lt;RegonLink&gt;&amp;lt;a href='javascript:danePobierzPelnyRaport(\"18085317700000\",\"DaneRaportPrawnaPubl\",
        0);'&amp;gt;180853177&amp;lt;/a&amp;gt;&lt;/RegonLink&gt;&#xD;\n    &lt;Nazwa&gt;ASSECO
        SYSTEMS SP\xD3\u0141KA AKCYJNA&lt;/Nazwa&gt;&#xD;\n    &lt;Wojewodztwo&gt;PODKARPACKIE&lt;/Wojewodztwo&gt;&#xD;\n
        \   &lt;Powiat&gt;m. Rzesz\xF3w&lt;/Powiat&gt;&#xD;\n    &lt;Gmina&gt;M. Rzesz\xF3w&lt;/Gmina&gt;&#xD;\n
        \   &lt;Miejscowosc&gt;Rzesz\xF3w&lt;/Miejscowosc&gt;&#xD;\n    &lt;KodPocztowy&gt;35-322&lt;/KodPocztowy&gt;&#xD;\n
        \   &lt;Ulica&gt;ul. Test-Krucza&lt;/Ulica&gt;&#xD;\n    &lt;Typ&gt;P&lt;/Typ&gt;&#xD;\n
        \   &lt;SilosID&gt;6&lt;/SilosID&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n&lt;/root&gt;</DaneSzukajResult></DaneSzukajResponse></s:Body></s:Envelope>\r\n--uuid:66ac9201-4182-497f-b6a1-37ea3398d21a+id=4572--\r\n"}
    headers:
      content-type: ['multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:66ac9201-4182-497f-b6a1-37ea3398d21a+id=4572";start-info="application/soap+xml"']
      mime-version: ['1.0']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing"
      xmlns:ns1="http://www.w3.org/2003/05/soap-envelope" xmlns:ns0="http://CIS/BIR/PUBL/2014/07"
      xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"><SOAP-ENV:Header><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport</wsa:Action></SOAP-ENV:Header><ns1:Body><ns0:DanePobierzPelnyRaport><ns0:pRegon>18085317700000</ns0:pRegon><ns0:pNazwaRaportu>PublDaneRaportPrawna</ns0:pNazwaRaportu></ns0:DanePobierzPelnyRaport></ns1:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [application/soap+xml; charset=utf-8]
      Sid:
      - !!python/object/new:suds.sax.text.Text
        args: [!!python/unicode dpw24597775798kebm8t]
        state: {escaped: false, lang: null}
      Soapaction: ['"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"']
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body: {string: "\r\n--uuid:66ac9201-4182-497f-b6a1-37ea3398d21a+id=4573\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n<s:Envelope
        xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"http://www.w3.org/2005/08/addressing\"><s:Header><a:Action
        s:mustUnderstand=\"1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaportResponse</a:Action></s:Header><s:Body><DanePobierzPelnyRaportResponse
        xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DanePobierzPelnyRaportResult>&lt;root&gt;&#xD;\n
        \ &lt;dane&gt;&#xD;\n    &lt;praw_regon14&gt;18085317700000&lt;/praw_regon14&gt;&#xD;\n
        \   &lt;praw_nip&gt;5170359458&lt;/praw_nip&gt;&#xD;\n    &lt;praw_nazwa&gt;ASSECO
        SYSTEMS SP\xD3\u0141KA AKCYJNA&lt;/praw_nazwa&gt;&#xD;\n    &lt;praw_nazwaSkrocona
        /&gt;&#xD;\n    &lt;praw_numerWrejestrzeEwidencji&gt;0000421310&lt;/praw_numerWrejestrzeEwidencji&gt;&#xD;\n
        \   &lt;praw_dataPowstania&gt;2012-05-21&lt;/praw_dataPowstania&gt;&#xD;\n
  [...]
