interactions:
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope
      xmlns:soap-env=\"http://www.w3.org/2003/05/soap-envelope\">\n  <soap-env:Header
      xmlns:wsa=\"http://www.w3.org/2005/08/addressing\">\n    <wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj</wsa:Action>\n
      \   <wsa:MessageID>urn:uuid:057d20a8-7fb0-4280-b89a-f512a59f801a</wsa:MessageID>\n
      \   <wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To>\n
      \ </soap-env:Header>\n  <soap-env:Body>\n    <ns0:DaneSzukaj xmlns:ns0=\"http://CIS/BIR/PUBL/2014/07\">\n
      \     <ns0:pParametryWyszukiwania>\n        <ns1:Regon xmlns:ns1=\"http://CIS/BIR/PUBL/2014/07/DataContract\">01034470800689</ns1:Regon>\n
      \     </ns0:pParametryWyszukiwania>\n    </ns0:DaneSzukaj>\n  </soap-env:Body>\n</soap-env:Envelope>\n"
    headers:
      Content-Type: ['application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj"']
      SOAPAction: ['"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj"']
      sid: [558t48e85f8555wmr52v]
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body: {string: "\r\n--uuid:3e2fc6a1-25ce-4dcc-9875-3bb93963280a+id=7454\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n<s:Envelope
        xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"http://www.w3.org/2005/08/addressing\"><s:Header><a:Action
        s:mustUnderstand=\"1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajResponse</a:Action><a:RelatesTo>urn:uuid:057d20a8-7fb0-4280-b89a-f512a59f801a</a:RelatesTo></s:Header><s:Body><DaneSzukajResponse
        xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DaneSzukajResult>&lt;root&gt;&#xD;\n
        \ &lt;dane&gt;&#xD;\n    &lt;Regon&gt;01034470800689&lt;/Regon&gt;&#xD;\n
        \   &lt;RegonLink&gt;&amp;lt;a href='javascript:danePobierzPelnyRaport(\"01034470800689\",\"DaneRaportLokalnaPrawnejPubl\",
        0);'&amp;gt;01034470800689&amp;lt;/a&amp;gt;&lt;/RegonLink&gt;&#xD;\n    &lt;Nazwa&gt;AGENCJA
        NIERUCHOMO\u015ACI ROLNYCH ODDZIA\u0141 TERENOWY W RZESZOWIE&lt;/Nazwa&gt;&#xD;\n
        \   &lt;Wojewodztwo&gt;PODKARPACKIE&lt;/Wojewodztwo&gt;&#xD;\n    &lt;Powiat&gt;m.
        Rzesz\xF3w&lt;/Powiat&gt;&#xD;\n    &lt;Gmina&gt;M. Rzesz\xF3w&lt;/Gmina&gt;&#xD;\n
        \   &lt;Miejscowosc&gt;Rzesz\xF3w&lt;/Miejscowosc&gt;&#xD;\n    &lt;KodPocztowy&gt;35-001&lt;/KodPocztowy&gt;&#xD;\n
        \   &lt;Ulica&gt;ul. Test-Wilcza&lt;/Ulica&gt;&#xD;\n    &lt;Typ&gt;LP&lt;/Typ&gt;&#xD;\n
        \   &lt;SilosID&gt;6&lt;/SilosID&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n&lt;/root&gt;</DaneSzukajResult></DaneSzukajResponse></s:Body></s:Envelope>\r\n--uuid:3e2fc6a1-25ce-4dcc-9875-3bb93963280a+id=7454--\r\n"}
    headers:
      content-type: ['multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:3e2fc6a1-25ce-4dcc-9875-3bb93963280a+id=7454";start-info="application/soap+xml"']
      mime-version: ['1.0']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope
      xmlns:soap-env=\"http://www.w3.org/2003/05/soap-envelope\">\n  <soap-env:Header
      xmlns:wsa=\"http://www.w3.org/2005/08/addressing\">\n    <wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport</wsa:Action>\n
      \   <wsa:MessageID>urn:uuid:9010b021-e0d3-4a65-80eb-8568f7af1113</wsa:MessageID>\n
      \   <wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To>\n
      \ </soap-env:Header>\n  <soap-env:Body>\n    <ns0:DanePobierzPelnyRaport xmlns:ns0=\"http://CIS/BIR/PUBL/2014/07\">\n
      \     <ns0:pRegon>01034470800689</ns0:pRegon>\n      <ns0:pNazwaRaportu>PublDaneRaportLokalnaPrawnej</ns0:pNazwaRaportu>\n
      \   </ns0:DanePobierzPelnyRaport>\n  </soap-env:Body>\n</soap-env:Envelope>\n"
    headers:
      Content-Type: ['application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"']
      SOAPAction: ['"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"']
      sid: [558t48e85f8555wmr52v]
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body: {string: "\r\n--uuid:3e2fc6a1-25ce-4dcc-9875-3bb93963280a+id=7455\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n<s:Envelope
        xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"http://www.w3.org/2005/08/addressing\"><s:Header><a:Action
        s:mustUnderstand=\"1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaportResponse</a:Action><a:RelatesTo>urn:uuid:9010b021-e0d3-4a65-80eb-8568f7af1113</a:RelatesTo></s:Header><s:Body><DanePobierzPelnyRaportResponse
        xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DanePobierzPelnyRaportResult>&lt;root&gt;&#xD;\n
        \ &lt;dane&gt;&#xD;\n    &lt;lokpraw_regon14&gt;01034470800689&lt;/lokpraw_regon14&gt;&#xD;\n
        \   &lt;lokpraw_nip /&gt;&#xD;\n    &lt;lokpraw_nazwa&gt;AGENCJA NIERUCHOMO\u015ACI
        ROLNYCH ODDZIA\u0141 TERENOWY W RZESZOWIE&lt;/lokpraw_nazwa&gt;&#xD;\n    &lt;lokpraw_numerWrejestrzeEwidencji
        /&gt;&#xD;\n    &lt;lokpraw_dataWpisuDoRejestruEwidencji&gt;1992-04-01&lt;/lokpraw_dataWpisuDoRejestruEwidencji&gt;&#xD;\n
        \   &lt;lokpraw_dataPowstani[...]
